docker-compose/es-and-kibana/elasticsearch/data
docker-compose/mysql/datadir
docker-compose/redis/data
docker-compose/hue-flink-sql/mysqlData
docker-compose/nifi-cluster/mylib
docker-compose/hadoop/hadoop_datanode1
docker-compose/hadoop/hadoop_datanode2
docker-compose/hadoop/hadoop_datanode3
docker-compose/hadoop/hadoop_historyserver
docker-compose/click-house/database
